<h2>Tablero de novedades</h2>

<form class="inputForm" method="POST" action="/submit-novedad">
    Novedad: <input type="text" name="novedad"> 
    Autor: <input type="text" name="novedad">
    <input type="submit" value="Cargar">
</form>